* {
    margin: 0; 
    padding: 0;
}

.entire-background {
    background-color: gray;
    padding-bottom: 10px;
}

.ArtistDetails {
    width: 80%;
    margin: 0 auto;
}

.pic-name {
    display: flex;
    margin-bottom: 30px;
}

.pic-name img {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 10px;
}

.pic-name h1 {
    font-size: 100px;
    margin-top: auto;
}

h2 {
    color: orange;
}

.top-tracks {
    display: grid;
    grid-template-rows: repeat(4, auto); 
    gap: 10px 80px;
    overflow-x: scroll; 
    overflow-y: hidden;
    max-width: 100%;
    height: auto;
    grid-auto-flow: column; 
}

.top-tracks::-webkit-scrollbar {
    display: none;
  }

.top-albums {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr)); 
    grid-gap: 20px; 
    grid-row-gap: 70px;
}

.related-artists {
    display: flex;
    width: 100%;
    height: 250px;
    overflow-x: auto;
    margin-bottom: 10px;
}

.related-artists::-webkit-scrollbar {
    display: none;
  }

.related-title h2 {
    margin-top: 80px;
}