* {
    margin: 0; /* Remove margin */
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding-bottom: 50px;
}

.names {
    color: black;
    font-size: 30px;
    text-align: left;
}

.names h2 {
    color: white;
    font-size: 20px;
    /* Limit to 4 lines of text and show ellipsis */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    white-space: normal;
    overflow: hidden;
}

.names h2:hover {
    text-decoration: underline;
}

.names p {
    font-size: 15px;
    margin-bottom: 10px;
}

.album-pic {
    border-radius: 10px;
}

.album-pic img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.album-pic img:hover {
    transform: scale(1.05);
}