* {
    margin: 0; 
    padding: 0;
}

.bar {
    background-color: rgba(128, 128, 128, 0.251);
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    border-top: 2px solid black; /* Add border to the top */
    border-radius: 5px;
}


.number p {
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}

.song-title {
    width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 150px;
}

.song-title h2 {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.song-album {
    width: 250px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 150px;
}

.play-count {
    margin-right: 150px;
}

.time {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

/*handle soundtrack styling*/
.number .play-icon {
    position: absolute;
    font-size: 15px;
    opacity: 0;
    left: 120px;
    margin-top: -18px;
}

.number:hover .play-icon {
    opacity: 1; /* Show the icon when the .track-preview is hovered over */
    cursor: pointer;
}

.number:hover p {
    opacity: 0;
}
