.App {
 
}

.App h1{
  text-align: center;
  margin-bottom: 10px;
}

.minutes-genre {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  width: 80%;
  margin: 0 auto;
}

.minutes-genre p{
  font-size: 50px;
}
