.App {
  
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.App h1{
  text-align: center;
  margin-bottom: 10px;
}

.minutes-genre {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  margin: 0 auto;
  margin-bottom: 20px;
}

.minutes-genre p{
  font-size: 50px;
}

.scrollable-row {
  width: 200px;
  height: 200px;
  background-color: red;
}
