* {
  color: white;
  margin: 0; /* Remove margin */
  padding: 0;
}

.entire-background {
   /*background: linear-gradient(to right, blue, gray);*/
   background-color: rgb(38, 38, 38); 
   height: 20%; 
}

#logout {
  color: white;
  background-color: black;
  border-color: white;
  position: absolute;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 1200px;
  padding: 10px 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

#logout:hover {
  background-color: green;
}

.App {
  width: 80%;
  height: 100%;
  /*margin-left: auto;*/
  margin: 0 auto;
}

.App h1{
  text-align: center;
  margin-bottom: 10px;
}

.minutes-genre {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
}

.minutes h3 {
  font-size: 50px;
}

.minutes p {
  font-size: 70px;
  font-family: 'Rampart One', sans-serif;
}

.genre h3 {
  font-size: 50px;
}

.genre p {
  font-size: 70px;
  font-family: 'Rampart One', sans-serif;
}

.scrollable-row {
  display: flex;
  width: 100%;
  height: 250px;
  overflow-x: auto;
  margin-bottom: 10px;
}

.scrollable-row::-webkit-scrollbar {
  display: none;
}

.top-songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.recommended-playlist {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr)); /* Five columns */
  grid-gap: 20px; /* Adjust the gap between cards */
}